/* Uniquely styled web application with a fresh look */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
}

body {
  background: linear-gradient(to bottom right, #f0f5f9, #eeeff4);
}

.cards-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.card {
  transition: 0.3s;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.cards-wrap .card {
  padding: 20px;
}

.cards-wrap .card-inner {
  background: #ffffff;
  border-radius: 15px;
  padding: 30px 20px;
  width: 300px;
  min-height: 200px;
  margin: 25px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
}

.header,
.footer,
.footer2 {
  width: 100%;
  height: 50px;
  color: #164bfa;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 700;
}

.page-header {
  width: 100%;
  height: 50px;
  color: #164bfa;
  text-align: center;
}

.peak {
  font-size: 1.8rem;
}

.footer2 a {
  color: #164bfa;
  font-size: 1.4rem;
}

.cards-wrap .card-inner h2,
.cards-wrap .card-inner h1 {
  color: #333;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 22px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards-wrap .card-inner p {
  color: #444;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cards-wrap .card-inner .btn {
  width: 30px;
  color: #333;
  padding: 2px;
  font-size: 15px;
  margin-bottom: 15px;
  display: inline-block;
  margin: 5px;
}

.cards-wrap .card-inner button:hover {
  background: #468678;
  color: white;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aside {
  display: flex;
  justify-content: flex-end;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards-wrap .card-inner-dashboard {
  background-image: linear-gradient(to bottom right, #a19bf7, #164bfa);
  border-radius: 20px;
  padding: 30px 20px;
  width: 325px;
  min-height: 215px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40%;
}

.cards-wrap .card-inner-dashboard .link {
  color: #ffffff;
  font-size: 2rem;
  font-family: "Roboto Condensed", sans-serif;
}

.sleeve {
  background: #fff;
  font-size: 18px;
  color: #333;
  border-radius: 15px;
  padding: 30px 20px;
  margin: 20px;
  width: 325px;
  display: block;
  align-items: center;
  font-family: "Roboto Condensed", sans-serif;
}

.card-inner-today {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto Condensed", sans-serif;
}

.repsWeight,
.sets,
.weight,
.currentworkout {
  display: inline;
  margin: 10px;
  font-family: "Roboto Condensed", sans-serif;
}

.currentworkout {
  display: flex;
  justify-content: center;
  align-items: center;
}

.workout-card {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
  max-width: 700px;
  width: 60%;
}

.workout-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.2);
}

.workout-card h3 {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

.workout-card p {
  font-size: 20px;
  color: #000000;
  margin-bottom: 10px;
  text-align: center;
}

.workout-card ul {
  text-align: center;
  list-style: none;
  margin: 20px;
}

.workout-card li {
  font-size: 20px;
  margin-bottom: 5px;
}

.workout-builder-input-label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.workout-builder-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.workout-builder-input[type="number"] {
  width: 60px; /* Adjust width as needed */
}

/* Optional: Add hover effect */
.workout-builder-input:hover {
  border-color: #4ea1d3;
}

.workout-builder-select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.workout-builder-select option {
  font-size: 14px;
}

.your-workout-title {
  text-align: center;
  margin: 10px;
  color: #000000;
}

.delete-button {
  background-color: #ff1919;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s, transform 0.3s;
}

.createworkout-h2 {
  text-align: center;
  margin: 10px;
  color: #000000;
  align-items: center;
}
